$primary-color: #ff8e00;
$secondary-color: #036;
$lighter-secondary-color: #003f7d;
$neutral-white: white;

// font colors
$black-font: rgb(48, 48, 48);
$white-font: white;
$accent-font: #ac5d04;


@function set-font-color($background) {
  @if (lightness($background) > 50%) {
    @return $black-font;
  } @else {
    @return $white-font;
  }
}
