@use './colors' as *;
@use './screenSize' as *;

@mixin center-block {
  display: block;
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-flex($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
  justify-content: center;
}

@mixin white-background {
  background-color: $neutral-white;
  // 131.5px -> header height, 30px -> margin bottom
  min-height: calc(100vh - 131.5px - 30px);
  margin-bottom: 30px;
  width: 100%;
}

@mixin label-text-above($bg-color: $primary-color) {
  color: set-font-color($bg-color);
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  text-align: start;
  font-size: 18px;
  font-weight: 900;
  width: 100%;
}

@mixin underline-input {
  border: none;
  border-bottom: 2px solid rgb(146, 146, 146);
  font-size: 15px;
  height: 40px;
  margin-top: 2px;
  padding: 2px 8px;

  &:focus {
    border-bottom: 2px solid rgb(48, 48, 48);
    outline: none;
  }
}

@mixin base-input {
  border: 2px solid rgb(204, 204, 204);
  border-radius: 5px;
  font-size: 16px;
  height: 40px;
  padding: 2px 10px;
}

@mixin base-link ($color){
  color: $color;
  text-decoration: none;
  font-size: 18px;
  font-weight: 900;
    
  &:hover {
    text-decoration: underline;
    text-decoration-color: $color;
    text-underline-offset: 4px;
  }
}

@mixin base-orange-box {
  @include center-flex(column);
  background-color: $primary-color;
  border-radius: 20px;
  box-shadow: 0 0 3px black;
  margin: auto;
  height: 550px;
  max-width: 400px;
  width: 90%;
}

@mixin base-button {
  background-color: $lighter-secondary-color;
  border-radius: 3px;
  border-style: none;
  font-weight: 600;
  letter-spacing: 0.1rem;
  height: 40px;
  width: 100%;

  &:hover {
    background-color: $secondary-color;
    cursor: pointer;
    transition: 100ms;
    box-shadow: 0 0 2px black;
  }

  &:disabled {
    background-color: #ffcc70;
    cursor: not-allowed;
    transition: 400ms;
  }

  &:enabled {
    color: white;
    transition: 400ms;
  }
}

@mixin base-table {
  background-color: $neutral-white;
  border-collapse: collapse;
  max-width: 1100px;
  width: 100%;

  &__title {
    color: $secondary-color;
    text-align: start;
    font-size: 32px;
    font-weight: 900;
  }
  
  & tbody tr:hover {
    background-color: #f0f0f0;
  }
  
  & th {
    color: $secondary-color;
    padding: 8px;
    padding-top: 12px;
    text-align: left;
  }
  
  & td {
    border: 1px solid #dbdbdb;
    padding: 8px;
    text-align: center;
  }
  
  & td button {
    @include base-button;
    border-radius: 7px;
    font-weight: 900;
    height: 30px;
    padding: 5px;
    width: 80px;
    font-size: 12px;
  }
  
  @include screen-size('xs', 'md') {
    & th {
      display: none;
    }
  
    & td {
      display: block;
      align-items: center;
      padding: 8px 8;
      display: flex;
      border: none;
      justify-content: space-between;
    }
  
    & td:first-child {
      padding-top: 15px;
    }
  
    & td:last-child {
      padding-bottom: 15px;
    }
  
  
    & tbody tr {
      border-top: 2px solid #dbdbdb;
    }
  
    & tbody tr:last-child {
      border-bottom: 2px solid #dbdbdb;
    }
  
    & td::before {
      content: attr(data-cell) ": ";
      font-weight: 700;
      text-transform: capitalize;
    }
  }
}

@mixin base-error {
  color: rgb(185, 3, 3);
  display: inline;
  margin: 0;
  font-weight: 600;
}
