@use '.' as *;

@import './reset';

html, body, #root {
  min-height: 100vh;
}

body {
  background-color: $primary-color;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.error {
  color: rgb(185, 3, 3);
  display: inline;
  margin: 0;
}

:root {

  --black-font: rgb(48, 48, 48);

  --blue-font: #002347;

  --almost-white: rgb(252, 252, 252);

  --blue-button: #036;
}
