.bubbles {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.bubble {
  animation: rise 10s infinite ease-in;
  background: #f1f1f1;
  border-radius: 50%;
  bottom: -100px;
  height: 40px;
  opacity: 0.5;
  position: absolute;
  width: 40px;
  z-index: -1;
}

.bubble:nth-child( 1 ) {
  animation-duration: 8s;
  height: 40px;
  left: 10%;
  width: 40px;
}

.bubble:nth-child( 2 ) {
  animation-delay: 1s;
  animation-duration: 5s;
  height: 20px;
  left: 20%;
  width: 20px;
}

.bubble:nth-child( 3 ) {
  animation-delay: 2s;
  animation-duration: 7s;
  height: 50px;
  left: 35%;
  width: 50px;
}

.bubble:nth-child( 4 ) {
  animation-delay: 0s;
  animation-duration: 11s;
  height: 80px;
  left: 50%;
  width: 80px;
}

.bubble:nth-child( 5 ) {
  animation-delay: 1s;
  animation-duration: 6s;
  height: 35px;
  left: 55%;
  width: 35px;
}

.bubble:nth-child( 6 ) {
  animation-delay: 3s;
  animation-duration: 8s;
  height: 45px;
  left: 65%;
  width: 45px;
}

.bubble:nth-child( 7 ) {
  animation-delay: 2s;
  animation-duration: 12s;
  height: 90px;
  left: 70%;
  width: 90px;
}

.bubble:nth-child( 8 ) {
  animation-delay: 2s;
  animation-duration: 6s;
  height: 25px;
  left: 80%;
  width: 25px;
}

.bubble:nth-child( 9 ) {
  animation-delay: 1s;
  animation-duration: 5s;
  height: 15px;
  left: 70%;
  width: 15px;
}

.bubble:nth-child( 10 ) {
  animation-delay: 4s;
  animation-duration: 5s;
  height: 90px;
  left: 25%;
  width: 90px;
}

@keyframes rise {

  0% {
    bottom: -100px;
    transform: translateX(0);
  }

  50% {
    transform: translate(100px);
  }

  100% {
    bottom: 1080px;
    transform: translateX(-100px);
  }
}
