.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: auto;
  max-width: 1200px;
  padding: 4px 40px;
}

@media screen and ( max-width : 531px ) {

  .container-card {
    justify-content: center;
    padding: 2px 20px;
  }
}
