.login-register-form {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.donabirita {
  background-color: #003f7d;
}

.inputs-container {
  align-items: center;
  background-color: #ff8e00;
  border-radius: 20px;
  box-shadow: 1px 2px 5px black;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  margin: auto;
  width: 400px;
}

.inputs-container a {
  color: white;
  text-decoration: none;
}

.inputs-container input {
  border: none;
  border-radius: 15px;
  box-shadow: inset 0 0 3px #ff5003;
  margin-top: 10px;
  padding: 15px;
  text-align: center;
}

.inputs-container label {
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  text-shadow: 1px 1px #661f00;
}

.inputs-container button {
  background-color: #003f7d;
  border-radius: 7px;
  border-style: none;
  box-shadow: 1px 1px 2px black;
  color: white;
  font-family: -apple-system , Ubuntu , Open Sans , Helvetica Neue , sans-serif;
  font-weight: 600;
  margin: 25px 5px;
  padding: 15px 25px;
}

.inputs-container button:hover {
  background-color: #002347;
  cursor: pointer;
  transition: 100ms;
}

.inputs-container button:disabled {
  background-color: #ffcc70;
  cursor: not-allowed;
  transition: 1s;
}

.inputs-container button:enabled {
  transition: 1s;
}
