.login-register-form {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login-register-form img {
  left: 50%;
  position: absolute;
  top: 0%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.inputs-container {
  align-items: center;
  background-color: #ff8e00;
  border-radius: 20px;
  box-shadow: 0 0 3px black;
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: center;
  margin: auto;
  width: 400px;
}

.inputs-container a {
  color: white;
  text-decoration: none;
}

.inputs-container input {
  border: none;
  border-bottom: 2px solid rgb(146, 146, 146);
  font-size: 15px;
  height: 40px;
  margin-top: 2px;
  text-align: center;
  width: 100%;
}

.inputs-container input:focus {
  border-bottom: 2px solid black;
  outline: none;
}

.inputs-container label {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -1px;
  margin-bottom: 8px;
  text-align: start;
  text-shadow: 2px 2px 2px black;
  width: 85%;
}

.login-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 900;
  margin-top: 35px;
  text-align: center;
  width: 50%;
}

.login-buttons button {
  background-color: #003f7d;
  border-radius: 3px;
  border-style: none;
  font-weight: 600;
  height: 40px;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  width: 100%;
}

.inputs-container button:hover {
  background-color: #013263;
  cursor: pointer;
  transition: 100ms;
}


.inputs-container button:disabled {
  background-color: #ffcc70;
  cursor: not-allowed;
  transition: 400ms;
}

.inputs-container button:enabled {
  box-shadow: 0 0 3px black;
  color: white;
  transition: 400ms;
}

.login-buttons a {
  bottom: 40px;
  font-size: 16px;
  left: 50%;
  position: absolute;
  text-decoration: none;
  transform: translate(-50%, -50%);
}

.login-buttons a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}
