@use '../../styles/' as *;

.checkout {
  background-color: $neutral-white;
  padding: 40px 0;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.checkout__products {
  border-collapse: collapse;
  margin: auto;
  max-width: 1100px;
  width: 90%;
}

.checkout__products__title {
  color: $secondary-color;
  text-align: start;
  font-size: 32px;
  font-weight: 900;
}

.checkout__products tbody tr:hover {
  background-color: #f0f0f0;
}

.checkout__products th {
  color: $secondary-color;
  padding: 8px;
  padding-top: 12px;
  text-align: left;
}

.checkout__products td {
  border: 1px solid #dbdbdb;
  padding: 8px;
  text-align: center;
}

.checkout__products td button {
  @include base-button;
  border-radius: 7px;
  font-weight: 900;
  height: 30px;
  padding: 5px;
  width: 80px;
  font-size: 12px;
}


.checkout__total {
  color: $secondary-color;
  font-size: 27px;
  font-weight: 900;
  margin: 20px auto 0;
  max-width: 1100px;
  text-align: end;
  width: 90%;
}

@include screen-size('xs', 'md') {
  .checkout {
    padding-bottom: 20px;
  }
  .checkout__products th {
    display: none;
  }

  .checkout__products td {
    display: block;
    text-align: start;
    padding: 8px 0;
    display: flex;
    border: none;
    justify-content: space-between;
  }

  .checkout__products td:first-child {
    padding-top: 15px;
  }

  .checkout__products td:last-child {
    padding-bottom: 15px;
  }


  .checkout__products tbody tr {
    border-top: 2px solid #dbdbdb;
  }

  .checkout__products tbody tr:last-child {
    border-bottom: 2px solid #dbdbdb;
  }

  .checkout__products td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}
