.checkout-products {
  background-color: var(--almost-white);
  padding: 40px 0;
}

.checkout-products h2 {
  color: var(--blue-font);
  font-size: 32px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 1100px;
  text-shadow: none;
  width: 80%;
}

.cart-table {
  border-collapse: collapse;
  margin: auto;
  max-width: 1100px;
  width: 80%;
}


.cart-table tr {
  background-color: white;
}

.cart-table tr:hover {
  background-color: #f0f0f0;
}

.cart-table th {
  background-color: var(--almost-white);
  color: var(--blue-font);
  padding: 8px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
}

.cart-table td {
  border: 1px solid #dbdbdb;
  padding: 8px;
  text-align: center;
}

.cart-table td:last-child {
  text-align: center;
}

.cart-table td button {
  background-color: var(--blue-button);
  border: none;
  border-radius: 10px;
  bottom: 120px;
  box-shadow: 1px 2px 5px rgba(17, 17, 17, 0.329);
  color: white;
  cursor: pointer;
  font-weight: 900;
  height: 30px;
  padding: 5px;
  width: 80px;
}

.cart-table td button:hover {
  background-color: rgb(0, 44, 88);
}

.total-cart {
  color: var(--blue-font);
  font-size: 27px;
  font-weight: 900;
  margin: 20px auto 0;
  max-width: 1100px;
  text-align: end;
  width: 80%;
}
