.checkout-form-container {
  align-items: center;
  background-color: var(--almost-white);
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.checkout-form-container h2 {
  color: var(--blue-font);
  font-size: 32px;
  max-width: 962px;
  width: 70%;
}

.checkout-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 962px;
  width: 70%;
}

.checkout-form * {
  border: 0;
  padding: 0;
}

.checkout-form label, .checkout-form button {
  width: 100%;
}

.checkout-form label p {
  color: var(--black-font);
}


.checkout-form select, .checkout-form input {
  border: 2px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  height: 40px;
  padding: 2px 15px;
  width: 100%;
}

.checkout-form .finish-sale-btn {
  align-self: flex-end;
  background-color: var(--blue-button);
  border: none;
  border-radius: 6px;
  bottom: 120px;
  box-shadow: 1px 2px 5px rgba(17, 17, 17, 0.329);
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 900;
  height: 40px;
  margin: 20px 0;
  max-width: 200px;
  padding: 5px;
}

.checkout-form .finish-sale-btn:hover {
  background-color: rgb(0, 44, 88);
}
